@import "./abstract/index.scss";
@import "./components/side-nav";
@import "./components/chat";
@import "./components/input";
@import "./components/avatar";
@import "./components/chat-top-bar";
@import "./components/messages-list";

body {
  background-color: $light-pastel-blue;
}

ul {
  margin: 0;
  padding: 0;
}
